<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.knowledge_management.knowledge_management.dao.FeedbackDao">

    <select id="allFeedbacks" resultType="com.hd.knowledge_management.knowledge_management.model.entity.FeedBack">
        select * from feedback where 1=1
        <if test="fid !=null and fid!='' ">
            and fid =#{fid}
        </if>
    </select>
    <delete id="delFeedback">
        delete  from feedback where fid=#{fid}
    </delete>
</mapper>