<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.knowledge_management.knowledge_management.dao.PageContentDao">

    <update id="addContent">
        update page_content set content=#{content} where pname=#{pname}
    </update>
    <select id="getPageContentByPname"
            resultType="com.hd.knowledge_management.knowledge_management.model.entity.PageContent">
        select * from page_content where pname=#{pname}
    </select>
</mapper>